<div class="row read-post">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>{{item.title}}</h4>
      <div class="meta">
        <span>{{item.created_at}}</span>
        <span>{{item.user.username}}</span>
      </div>
      <div class="post-content">
        {{item.markdown}}
      </div>
    </div>
  </div>
</div>
