$color-grey-50:  #FAFAFA;
$color-grey-100: #F5F5F5;
$color-grey-200: #EEEEEE;
$color-grey-300: #E0E0E0;
$color-grey-400: #BDBDBD;
$color-grey-500: #9E9E9E;
$color-grey-600: #757575;
$color-grey-700: #616161;
$color-grey-800: #424242;
$color-grey-900: #212121;

$color-blue-50:  #E3F2FD;
$color-blue-100: #BBDEFB;
$color-blue-200: #90CAF9;
$color-blue-300: #64B5F6;
$color-blue-400: #42A5F5;
$color-blue-500: #2196F3;
$color-blue-600: #1E88E5;
$color-blue-700: #1976D2;
$color-blue-800: #1565C0;
$color-blue-900: #0D47A1;

$color-red-50:   #FFEBEE;
$color-red-100:  #FFCDD2;
$color-red-200:  #EF9A9A;
$color-red-300:  #E57373;
$color-red-400:  #EF5350;
$color-red-500:  #F44336;
$color-red-600:  #E53935;
$color-red-700:  #D32F2F;
$color-red-800:  #C62828;
$color-red-900:  #B71C1C;
$color-red-A100: #FF8A80;
$color-red-A200: #FF5252;
$color-red-A400: #FF1744;
$color-red-A700: #D50000;

$color-pink-50:   #FCE4EC;
$color-pink-100:  #F8BBD0;
$color-pink-200:  #F48FB1;
$color-pink-300:  #F06292;
$color-pink-400:  #EC407A;
$color-pink-500:  #E91E63;
$color-pink-600:  #D81B60;
$color-pink-700:  #C2185B;
$color-pink-800:  #AD1457;
$color-pink-900:  #880E4F;
$color-pink-A100: #FF80AB;
$color-pink-A200: #FF4081;
$color-pink-A400: #F50057;
$color-pink-A700: #C51162;

$color-green-50:   #E8F5E9;
$color-green-100:  #C8E6C9;
$color-green-200:  #A5D6A7;
$color-green-300:  #81C784;
$color-green-400:  #66BB6A;
$color-green-500:  #4CAF50;
$color-green-600:  #43A047;
$color-green-700:  #388E3C;
$color-green-800:  #2E7D32;
$color-green-900:  #1B5E20;
$color-green-A100: #B9F6CA;
$color-green-A200: #69F0AE;
$color-green-A400: #00E676;
$color-green-A700: #00C853;

$color-yellow-50:   #FFFDE7;
$color-yellow-100:  #FFF9C4;
$color-yellow-200:  #FFF59D;
$color-yellow-300:  #FFF176;
$color-yellow-400:  #FFEE58;
$color-yellow-500:  #FFEB3B;
$color-yellow-600:  #FDD835;
$color-yellow-700:  #FBC02D;
$color-yellow-800:  #F9A825;
$color-yellow-900:  #F57F17;
$color-yellow-A100: #FFFF8D;
$color-yellow-A200: #FFFF00;
$color-yellow-A400: #FFEA00;
$color-yellow-A700: #FFD600;
