<h4>Add a new user</h4>
<form method="post" enctype="x-www-form-urlencoded">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="address1">Address Line 1</label>
    <input type="text" class="form-control" name="address1" id="address1" placeholder="Address Line 1">
  </div>
  <div class="form-group">
    <label for="address2">Address Line 2</label>
    <input type="text" class="form-control" name="address2" id="address2" placeholder="Address Line 2">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="password_confirmation">Confirm password</label>
    <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" placeholder="Confirm password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
