<h4>Login</h4>
<form method="post" enctype="x-www-form-urlencoded">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="email" id="email" value="{{changeset.email}}">
  </div>
  <div class="form-group">
    <label for="email">Password</label>
    <input type="password" class="form-control" name="password" id="password">
  </div>
  <button type="submit" class="btn btn-default">Login</button>
</form>
